@model IEnumerable<IfRolesExample.ViewModels.RoleVM>

@{
    ViewData["Title"] = "User Roles Detail";
}

<h3>User: @ViewBag.UserName</h3>

<p>
    @Html.ActionLink("Assign Roles", "Create", new { userName = @ViewBag.UserName })
</p>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RoleName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td>
                    <form asp-action="Delete" asp-route-email="@ViewBag.Email" asp-route-roleName="@item.RoleName" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger" style="padding: 0 0.35em;" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
